
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;

}





h1 {

background-color: rgb(26, 190, 190);
color: blue;

}
